pandas
geopandas
geopandas-base
streamlit
requests
matplotlib-base
pygmt
gmt
ghostscript
geodatasets
gdal
obspy
numpy
scipy
pillow
pydeck
shapely
xarray
packaging
cartopy
pytest
pytest-json
geographiclib
beautifulsoup4
pip
